node_modules
.tmp
.sass-cache
bower_components
/docs
/src/www/scripts/libs
/dist
/src/plugins
/src/platforms
/phonegap
/src/.vs/LT-nego/v14/.suo
/src/LT-nego.jsproj
/src/LT-nego.jsproj.user
/src/LT-nego.sln
/src/bld/Android/Debug/changeList.json
/src/taco.json
/bld
/src/bld
/src/.vs/config/applicationhost.config
